<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,30},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,63},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>bullet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>bullet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>bullet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>bullet04.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{8,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,22}}</string>
                <key>sourceSize</key>
                <string>{8,22}</string>
            </dict>
            <key>bullet05.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{8,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{8,21}</string>
            </dict>
            <key>enemy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{112,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,168}}</string>
                <key>sourceSize</key>
                <string>{112,168}</string>
            </dict>
            <key>enemy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>enemy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,30},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,63},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>hero01.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,113},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>hero02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>pauseBT.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>startBT.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{116,527}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:503e24f8e57b9a3ee12cf3b76227b43a:53b2a64cd2235e2623e3c7274681931a:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
