<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chelonian_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1290},{160,202}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Chelonian_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,974},{202,118}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Chelonian_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1080},{180,208}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Chelonian_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1200},{162,160}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Chelonian_death_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1094},{164,202}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>GoldenTrout_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,902},{150,94}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>GoldenTrout_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1030},{200,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>GoldenTrout_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1486},{160,100}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>GoldenTrout_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,760},{210,72}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>GoldenTrout_death_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,590},{148,94}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>JadePerch_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,686},{142,140}}</string>
                <key>offset</key>
                <string>{-27,7}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>JadePerch_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1094},{164,126}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>JadePerch_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1060},{172,130}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>JadePerch_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1334},{160,150}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>JadePerch_death_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,998},{166,146}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Porgy_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,978},{200,100}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>Porgy_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1122},{180,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>Porgy_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1072},{170,90}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>Porgy_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,192},{190,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>Porgy_death_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,660},{218,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>Ray_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,588},{328,322}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>Ray_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,294},{334,298}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>Ray_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{372,274}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>Ray_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{372,276}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>Ray_death_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,280},{348,308}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Chelonian_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1298},{160,202}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{174,184}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{202,118}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{190,188}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,990},{180,208}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,828},{166,148}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1222},{162,160}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1146},{162,188}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/Chelonian_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1102},{164,202}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>游动/GoldenTrout_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,284},{184,120}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>游动/GoldenTrout_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{200,102}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>游动/GoldenTrout_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,918},{200,110}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>游动/GoldenTrout_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{182,130}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>游动/GoldenTrout_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,834},{204,82}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>游动/GoldenTrout_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,912},{204,76}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>游动/JadePerch_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,940},{174,118}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>游动/JadePerch_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{178,130}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>游动/JadePerch_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,940},{174,130}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>游动/JadePerch_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,980},{170,120}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>游动/JadePerch_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1218},{178,114}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>游动/Porgy_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,406},{222,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,606},{222,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,786},{222,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,590},{220,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,864},{220,74}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,908},{220,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,902},{220,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,700},{222,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Porgy_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,508},{222,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{228,110}</string>
            </dict>
            <key>游动/Ray_actor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,578},{328,322}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,594},{328,312}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,278},{334,298}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{342,284}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{372,274}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,270}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{372,276}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{352,290}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>游动/Ray_actor_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,278},{348,308}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>FishActor-Large-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ba96e0c5fe9e52d1a4dc76dd12e18b$</string>
            <key>textureFileName</key>
            <string>FishActor-Large-hd.png</string>
        </dict>
    </dict>
</plist>
