<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_swenpon1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,3862},{170,184}}</string>
                <key>offset</key>
                <string>{3,-580}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,3258},{180,248}}</string>
                <key>offset</key>
                <string>{-4,-566}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3874},{186,220}}</string>
                <key>offset</key>
                <string>{6,-573}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,3874},{200,208}}</string>
                <key>offset</key>
                <string>{-9,-577}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,3258},{186,242}}</string>
                <key>offset</key>
                <string>{-2,-565}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,3244},{176,242}}</string>
                <key>offset</key>
                <string>{-1,-574}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,3244},{174,252}}</string>
                <key>offset</key>
                <string>{2,-569}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,3840},{166,238}}</string>
                <key>offset</key>
                <string>{1,-580}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1582},{104,158}}</string>
                <key>offset</key>
                <string>{-2,-570}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2896},{220,612}}</string>
                <key>offset</key>
                <string>{-2,-386}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1750},{294,1472}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{500,1442}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,1448}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1446},{500,1442}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{500,1442}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{500,1442}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,1442}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1446},{322,1442}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,3824},{212,172}}</string>
                <key>offset</key>
                <string>{1,-576}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,3840},{212,172}}</string>
                <key>offset</key>
                <string>{1,-575}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,3214},{192,168}}</string>
                <key>offset</key>
                <string>{-2,-565}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1446},{192,166}}</string>
                <key>offset</key>
                <string>{-2,-565}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1748},{192,132}}</string>
                <key>offset</key>
                <string>{-2,-573}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1614},{192,132}}</string>
                <key>offset</key>
                <string>{-2,-573}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,4014},{68,74}}</string>
                <key>offset</key>
                <string>{13,-602}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,4014},{62,78}}</string>
                <key>offset</key>
                <string>{10,-604}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,3998},{62,82}}</string>
                <key>offset</key>
                <string>{10,-602}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,3998},{62,82}}</string>
                <key>offset</key>
                <string>{10,-602}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>Effect_swenpon1_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,4054},{48,30}}</string>
                <key>offset</key>
                <string>{3,-584}</string>
                <key>sourceSize</key>
                <string>{500,1500}</string>
            </dict>
            <key>sweapon_bullet_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1936},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>sweapon_bullet_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1870},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>sweapon_bullet_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,3998},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>sweapon_bullet_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,4014},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>weapon_bullet_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1742},{102,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>weapon_bullet_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1446},{106,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>weapon_bullet_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,3508},{112,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>weapon_bullet_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,3508},{116,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>weapon_bullet_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,3508},{120,164}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>weapon_bullet_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,3862},{128,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>weapon_bullet_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,3862},{132,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>weapon_net_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,3230},{260,266}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>weapon_net_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,3800},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>weapon_net_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1446},{296,302}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>weapon_net_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,3498},{322,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>weapon_net_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2890},{336,338}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{346,346}</string>
            </dict>
            <key>weapon_net_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2890},{352,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{362,362}</string>
            </dict>
            <key>weapon_net_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2896},{358,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{366,368}</string>
            </dict>
            <key>weapon_snet_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,3230},{260,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>weapon_snet_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,3224},{280,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>weapon_snet_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,3496},{296,302}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>weapon_snet_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2890},{320,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>weapon_snet_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,3498},{336,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{346,346}</string>
            </dict>
            <key>weapon_snet_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,3508},{352,352}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{362,362}</string>
            </dict>
            <key>weapon_snet_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3510},{358,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{366,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>Item-chaojiwuqi-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ee7d204a38888dc9e489a61737a749$</string>
            <key>textureFileName</key>
            <string>Item-chaojiwuqi-ipadhd.png</string>
        </dict>
    </dict>
</plist>
